.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  color: indigo;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;

  .login-left-side {
    width: 48%;
    height: 95vh;
    // background-color: aqua;

    @media only screen and (max-width: 700px) {
      width: 90%;
    }

    .login-logo {
      font-size: 2.1rem;
      font-weight: 700;
      font-family: "Inter";
      font-style: normal;
    }

    .login-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .login-header {
        width: 80%;
        background-color: #ffffff;
        margin-top: 2.5rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-bottom: 1.5rem;
        font-family: "Inter";
        font-style: normal;

        #login-header {
          font-size: 1.8rem;
          margin-bottom: 1rem;
          font-weight: 500;
          // font-family: "Inter";
          // font-style: normal;
        }
      }

      .login-form {
        width: 80%;
        background-color: #ffffff;
        // background-color: aqua;

        .error-message-true {
          width: 100%;
          height: 2rem;
          margin-bottom: 0.7rem;
          color: red;
          // background-color: aqua;
        }

        .error-message-false {
          display: none;
        }

        .input-box {
          margin: 20px 0 12px 0;
          width: caalc(100% /2 -20px);

          .details {
            // display: block;
            font-weight: 500;
            margin-bottom: 0.2rem;
          }
        }

        .input-box input {
          height: 2.5rem;
          width: 100%;
          // outline: none;
          border-radius: 5px;
          border: 1px solid #ccc;
          padding-left: 15px;
          font-size: 16px;
          border-bottom-width: 2px;
          transition: all 0.3s ease;
        }

        .input-box input:focus,
        .input-box input:valid {
          border-color: none;
        }

        .login-btn {
          width: 100%;
          height: 2.5rem;
          border: none;
          border-radius: 5px;
          background-color: #1322c2;
          color: #ffedc8;
          margin-top: 0.5rem;
        }

        .login-btn:hover {
          background-color: #3746eb;
          color: #ffffff;
        }
      }
    }
  }

  .login-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 95vh;
    // background-color: #0071f2;
    // border-radius: 1rem;

    @media only screen and (max-width: 1052px) {
      padding-top: 5rem;
      align-items: flex-start;
    }

    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}
