.delete-notification {
  color: black;
  width: 100vw;
  // height: 71.5vh;
  height: 100vh;
  // margin-top: -207.4px;
  margin-top: calc(-80px - 88px);
  background-color: rgba(37, 37, 37, 0.8); //0.8 is the opacity.
  // opacity: 0.8;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  // border-radius: 1rem;

  .delete-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    // height:5vh;
    padding: 3rem;
    background-color: #ffff;
    color: black;
    border-radius: 0.6rem;

    .delete-title {
      font-size: 1.5rem;
    }

    .delete-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;

      #delete-btn {
        width: 5rem;
        height: 2rem;
        background-color: red;
        color: #ffedc8;
        border: none;
        border-radius: 0.3rem;
        margin-right: 1rem;
      }

      #delete-btn:hover {
        background-color: rgb(224, 26, 26);
      }

      #cancel-btn {
        width: 5rem;
        height: 2rem;
        background-color: #1322c2;
        color: #ffedc8;
        border: none;
        border-radius: 0.3rem;
        // margin-right: 1rem;
      }

      #cancel-btn:hover {
        background-color: #0619f0;
      }
    }
  }
}
