.user-model {
  color: black;
  width: 100vw;
  // height: 71.5vh;
  height: 100vh;
  margin-top: -207.4px;
  background-color: rgba(37, 37, 37, 0.8); //0.8 is the opacity.
  // opacity: 0.8;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  @media only screen and (max-width: 600px) {
    margin-top: -166.4px;
  }

  .user-model-body {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;

    .header-div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      // margin: 1rem;
      padding: 0.5rem;
      background-color: rgb(214, 226, 43);

      .input-close-btn {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        cursor: pointer;
        background-color: white;
        border: none;
      }

      .input-close-btn:hover {
        color: whitesmoke;
        background-color: red;
      }
    }

    .body-div {
      // background-color: chartreuse;

      .body-div-form {
        display: flex;
        flex-direction: column;

        .input-form-btn {
          width: 10rem;
        }
      }
    }
  }
}
