.setting-page {
  width: 100%;

  //   background-color: red;

  .setting-main-page {
    width: 90%;
    background-color: rgb(235, 238, 241);
    margin: 0 auto;
    padding: 1rem;

    .logout-button {
      width: 6rem;
      padding: 0.8rem;
      background-color: mediumslateblue;
      color: mintcream;
      font-size: 1.2rem;
      //   border: solid 3px ;
      border-radius: 0.5rem;
      cursor: pointer;

      @media only screen and (max-width: 600px) {
        padding: 0.5rem;
        font-size: 1rem;
      }
    }

    .setting-info-body {
      width: 70%;
      margin: 0 auto;
      //   background-color: salmon;
      padding: 0.5rem;

      .setting-title {
        font-size: 1.3rem;
        margin-top: 0.7rem;
      }

      .input-width {
        width: 70%;
      }

      .setting-btn {
        margin-top: 2rem;
        font-size: 1.3rem;
        width: 7rem;
      }
    }
  }
}
