.appearance_page {
  // padding: 0;
  // margin: 0;
  // color: violet;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  height: calc(100vh - 88px - 80px);
  overflow-y: auto;
  // margin: 0 auto;
  // width: 100%;

  .profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 3rem;
    padding: 1rem;
    background-color: #e5e5e5;

    .profile-header {
      width: 95%;
      font-size: 1.9rem;
      font-weight: 500;
      // background-color: aqua;
    }
    .profile-inputs {
      width: 95%;
      margin-top: 0.8rem;
      background-color: #ffffff;
      padding: 1rem;

      .profile-image {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        .profile-pic {
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 10rem;
        }

        .profile-pic-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 1rem;
          background-color: whitesmoke;
          height: 3rem;
          width: 9rem;
          font-size: 1.2rem;
          border-radius: 0.5rem;
        }
        .profile-pic-btn:hover {
          background-color: lightblue;
          cursor: pointer;
        }
      }
    }
  }

  .theme-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 3rem;
    padding: 1rem;
    background-color: #e5e5e5;

    .theme-section-header {
      width: 95%;
      font-size: 1.9rem;
      font-weight: 500;
    }

    .theme-cards {
      width: 95%;
      // height: auto;
      margin-top: 1.5rem;
      // background-color: lightseagreen;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background-color: #ffffff;
      padding: 1rem;

      .default {
        width: 13rem;
        height: 30vh;
        background-color: rgb(142, 234, 250);
        border-radius: 1rem;
        margin: 1rem;
      }

      .pink {
        width: 13rem;
        height: 30vh;
        background-color: palevioletred;
        border-radius: 1rem;
        margin: 1rem;
      }

      .green {
        width: 13rem;
        height: 30vh;
        background-color: greenyellow;
        border-radius: 1rem;
        margin: 1rem;
      }

      .blue {
        width: 13rem;
        height: 30vh;
        background-color: blue;
        border-radius: 1rem;
        margin: 1rem;
      }
    }
  }
}
