.appearance_page {
  padding: 0;
  margin: 0;
  height: calc(100vh - 73.03px - 112px);
  overflow-y: auto;
  color: violet;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .theme-section {
    width: 95%;
    // height: 10vh;
    margin-top: 3rem;
    // background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .default {
      width: 25%;
      height: 30vh;
      background-color: rgb(142, 234, 250);
      border-radius: 1rem;
      margin: 1rem;
    }

    .pink {
      width: 25%;
      height: 30vh;
      background-color: palevioletred;
      border-radius: 1rem;
      margin: 1rem;
    }

    .green {
      width: 25%;
      height: 30vh;
      background-color: greenyellow;
      border-radius: 1rem;
      margin: 1rem;
    }

    .blue {
      width: 25%;
      height: 30vh;
      background-color: blue;
      border-radius: 1rem;
      margin: 1rem;
    }
  }
}
