.link-card {
  // border-radius: 2rem;

  .info-div {
    display: flex;
    width: 70%;
    height: 9rem;
    margin: 1rem;
    // background-color: white;

    @media only screen and (max-width: 600px) {
      width: 90%;
    }

    .info-left-div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      background-color: rgb(240, 188, 188);
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }

    .info-right-div {
      width: 100%;

      .info-top-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 20px;
        width: 100%;
        height: 6rem;
        background-color: rgb(236, 236, 148);
        border-top-right-radius: 1.5rem;

        .info-top-div-content {
          display: flex;
          flex-direction: column;

          .link-title {
            font-weight: 600;
            margin-right: 0.8rem;
          }
          .link-url {
            font-weight: 600;
            margin-right: 0.8rem;
          }
        }
      }

      .edit-icon {
        padding: 0.1rem;
        margin-left: 0.3rem;
      }

      .toggle-btn-true {
        background-color: greenyellow;
      }

      .toggle-btn-false {
        background-color: gray;
      }

      .info-bottom-div {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0.8rem;
        font-size: 20px;
        width: 100%;
        height: 3rem;
        background-color: rgb(163, 155, 240);
        border-bottom-right-radius: 1.5rem;

        .sensative-content-true {
          width: 1.2rem;
          height: 1.2rem;
          background-color: rgb(17, 192, 17);
        }

        .sensative-content-false {
          width: 1.2rem;
          height: 1.2rem;
          background-color: gray;
        }

        .edit-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          width: 5.5rem;
          height: 2rem;
          border-radius: 0.3rem;
          color: #ffedc8;
          background-color: #1322c2;
          margin-left: 2rem;
          margin-right: 2rem;
        }

        .trash-btn {
          color: red;
          // padding: 0.2rem;
          // background-color: rgb(226, 116, 43);
        }
      }
    }
  }
}
