.link-card {
  // border-radius: 2rem;

  .info-div {
    display: flex;
    width: 70%;
    height: 9rem;
    margin: 1rem;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    // background-color: white;

    @media only screen and (max-width: 700px) {
      width: 90%;
    }

    @media only screen and (max-width: 1056px) {
      height: 7.5rem;
    }

    .info-left-div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      // background-color: rgb(240, 188, 188);
      background-color: #ffffff;
      border-right: 1px solid #c5c5c5;
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }

    .info-right-div {
      width: 100%;

      .info-top-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 20px;
        width: 100%;
        height: 6rem;
        // background-color: rgb(236, 236, 148);
        background-color: #ffffff;
        border-top-right-radius: 1.5rem;

        @media only screen and (max-width: 1056px) {
          height: 4.5rem;
          font-size: 90%;
        }

        .info-top-div-content {
          display: flex;
          flex-direction: column;

          .link-title {
            font-weight: 600;
            margin-right: 0.8rem;
          }
          .link-url {
            font-weight: 600;
            margin-right: 0.8rem;
          }
        }
      }

      .edit-icon {
        padding: 0.1rem;
        margin-left: 0.3rem;
      }

      .toggle-btn-true {
        background-color: greenyellow;
      }

      .toggle-btn-false {
        background-color: gray;
      }

      .info-bottom-div {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0.8rem;
        font-size: 20px;
        width: 100%;
        height: 3rem;
        // background-color: rgb(163, 155, 240);
        background-color: #ffffff;
        border-bottom-right-radius: 1.5rem;

        @media only screen and (max-width: 1056px) {
          // height: 20%;
          font-size: 90%;
        }

        .info-sc-btn {
          display: flex;
          justify-content: start;
          align-items: center;

          .sc {
            display: inline;
            // width: 7rem;
          }

          .sensative-content-true {
            width: 1.2rem;
            height: 1.2rem;
            background-color: rgb(17, 192, 17);
          }

          .sensative-content-false {
            width: 1.2rem;
            height: 1.2rem;
            background-color: gray;
          }
        }

        .edit-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          width: 5.5rem;
          height: 2rem;
          border-radius: 0.3rem;
          color: #ffedc8;
          background-color: #1322c2;
          margin-left: 2rem;
          margin-right: 2rem;

          @media only screen and (max-width: 1056px) {
            width: 4rem;
            font-size: 1rem;
          }

          @media only screen and (max-width: 700px) {
            width: 3.5rem;
          }
        }

        .trash-btn {
          color: red;
          // padding: 0.2rem;
          // background-color: rgb(226, 116, 43);
        }
      }
    }
  }

  .info-div:hover {
    // transform: scale(1.1);
    box-shadow: 0px 8px 15px 2px rgba(0, 0, 0, 0.35);
    transition: 5ms ease;
  }
}
