.admin_page {
  // margin: 1rem;
  // overflow-y: auto;
  @media only screen and (max-width: 600px) {
    height: calc(100vh - 59.2px - 67.2px - 1rem);
  }

  .admin-body {
    width: 100%;
    // overflow-y: scroll;
    background-color: blueviolet;

    .info-parent-div {
      //
      background-color: rgb(226, 116, 43);
      .info-div {
        display: flex;
        width: 70%;
        height: 7rem;
        margin: 1rem;
        background-color: white;
        border-radius: 0.7rem;

        @media only screen and (max-width: 600px) {
          width: 90%;
        }

        .info-left-div {
          width: 1.7rem;
          background-color: rgb(240, 188, 188);
        }

        .info-right-div {
          width: 100%;

          .info-top-div {
            width: 100%;
            height: 3.5rem;
            background-color: rgb(236, 236, 148);
          }

          .info-bottom-div {
            width: 100%;
            height: 3.5rem;
            background-color: rgb(163, 155, 240);
          }
        }
      }
    }

    .create-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20rem;
      height: 3.5rem;
      // padding: 1rem;
      border-radius: 1rem;
      background-color: rgb(255, 255, 255);
      font-size: 1.3rem;
      cursor: pointer;

      @media only screen and (max-width: 600px) {
        width: 90%;
      }
    }
  }

  .mobile-preview {
    text-align: center;
    width: 8rem;
    padding: 1rem;
    border-radius: 2rem;
    color: whitesmoke;
    background-color: blueviolet;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
}
